<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
</head>
<body>
	<h3>Welcome to Sunbeam</h3>
	<p th:text="${message}" />
</body>
</html>
