<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Result</title>
</head>
<body>
	<h3>Math Result</h3>
	<p th:text="${m.result}" />
</body>
</html>

